#about {
		overflow-x: hidden !important;
	#banner {
		background: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url(../../images/about-banner-sm.png);
		background-size: cover;
		background-repeat: no-repeat;
		background-position: center;
		position: relative;
		min-height: 80vh;

		@include breakpoint(md) {
			background: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url(../../images/about-banner-sm.png);
			background-repeat: no-repeat;
			background-size: cover;
			background-position: top;
		}

		@include breakpoint(lg) {
			background: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url(../../images/about-banner-lg.png);
			background-size: cover;
			background-repeat: no-repeat;
			height: 100vh;
			max-width: 100%;
		}

		@include breakpoint(xl) {
			background: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url(../../images/about-banner.png), rgba($color: #000000, $alpha: 0.9);
			background-size: cover;
			background-repeat: no-repeat;
			background-position: center;
			max-height: 700px;
		}

		width: 100%;
	}

	#about-container {
		display: flex;
		flex-wrap: wrap;
		flex-direction: column;
	}

	#we-create-container {
		display: flex;
		flex-direction: column;
		flex-wrap: wrap;
		align-items: flex-start;
		margin-left: 0.5em;

		@include breakpoint (md){
			margin-left: 0;
			#white-letters {
				font-size: 4em;
			}
		}

		@include breakpoint (lg) {
			margin-top: 5em;
			max-width: 800px;
			#white-letters {
				font-size: 5em;
			}
		}
	}

	#text-container {
		padding-right: 0.5em;
		margin-top: 2em;
		text-transform: none;
		max-width: 90%;
		@include breakpoint(lg){
			font-size: 1.25em;
			max-width: 75%;
		}
		#about-text {
			font-size: 1em;
			font-weight: 400;
		}
	}

	#consultation-button1 {
		display: flex;
		justify-content: flex-start;
		bottom: 5.5em;
		margin-top: 3em;
		@include breakpoint(md) {
			bottom: 7em;
		}
	
		@include breakpoint(lg) {
			bottom: 6em;
		}
	
		button {
			border: 2px solid White;
			color: black;
			font-family: 'Open Sans', sans-serif;
			background-color: transparent;
			font-size: 1em;
			color: white;
			padding: 0.5em;
	
			@include breakpoint(md) {
				font-size: 1em;
				padding: 0.5em 8em;
			}
	
			@include breakpoint(lg) {
				font-size: 1.1em;
				padding: 0.5em 6em;
			}
		}
	}
	
	#consultation-button1 button:hover {
		background-color: whitesmoke;
		color: black;
		font-family: 'Open Sans', sans-serif;
		transition: 500ms;
		cursor: pointer;
	}

	#about-text {
		font-family: 'Open Sans', sans-serif;
		font-size: 1.5em;
		color: white;
	}
}