
#contact { 
    
    #banner { 
        background-image: url(../../images/contact-banner.png);
        background-size: cover;
    }
    
    .input-container {
        display: flex;
        flex-direction: column;
        background: transparent;
        span {
            color: whitesmoke;
        }
    }

    input {
        background: transparent;
        border-bottom: 2px solid black;
        width: 350px;
    }

    button {
        display: none;
    }
}