
#contact { 
    .vijo-logo {
        top: -1em;
        @include breakpoint(lg) {
            top: 1em;
        }
    }

    #banner { 
        display: flex;
        flex-direction: column;
        align-items: center;
        background-image: url(../../images/contact-banner.png);
        background-size: cover;
        min-height: 100vh;
        position: relative;

        @include breakpoint(lg) {
            min-height: 80vh;
        }
    }
    #contactus-container {
        display: flex;
        flex-direction: column;
        font-family: 'Open Sans';
        text-transform: uppercase;
        position: relative;

        :placeholder-shown {
            font-size: 0.5em;
        }

        #white-letters {
            font-size: 2.7em;
            color: whitesmoke;
            justify-self: center;
            font-weight: 600;
    
            @include breakpoint(md) {
                font-size: 4.5em
            }
    
            @include breakpoint(lg) {
                font-size: 6em;
            }
        }
    
        #yellow-letters {
            color: $yellow;
            justify-self: center;
            font-size: 1.4em;
    
            @include breakpoint(md) {
                font-size: 2.3em;
            }
    
            @include breakpoint(lg) {
                font-size: 3em;
            }
        }
    }
    
    .form-container {
        display: flex;
        position: absolute;
        flex-direction: column;     
        font-family: 'Open Sans';
        bottom: 1.5em;
        width: 90%;
        @include breakpoint (md) {
            bottom: 5em;
            width: auto;
        }
    }

    .contact-container {
        color: whitesmoke;
        display: flex;
        flex-direction: column;
        padding-top: 1em;
        padding-right: 0.5em;
        input {
            margin-top: 0.25em;
            border: 1px solid whitesmoke;
            background-color: transparent;
            padding: 0.5em;
        }

        textarea {
            margin-top: 0.25em;
            padding: 0.5em;
            border: 1px solid whitesmoke;
            background-color: transparent;
            color: whitesmoke;
            font-family: 'Open Sans';
            font-size: 1em;
        }

        #contact-page-submit {
            font-family: 'Open Sans';
            color: whitesmoke;
            font-size: 1em;
            font-weight: 600;
            margin-top: 0.25em;
            padding: 0.5em;
            border: 1px solid whitesmoke;
            background-color: transparent;
            width: 100%;

            &:hover {
                transition: 0.5s;
                background-color: whitesmoke;
                color: black;
                cursor: pointer;
            }
        }
    }

    #trio-container {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        width: 100%;
        input {
            color: whitesmoke;
            font-family: 'Open Sans';
            font-size: 1em;
        }
        @include breakpoint (md){
            flex-direction: row;
            flex-wrap: nowrap;
            .input-container {
                align-content: center;
                width: 33%;
                margin-right: 1em;
                &:last-child {
                    margin-right: 0;
                }
            }
        }
    }
}
