
#contact { 

    #banner { 
        background-image: url(../../images/contact-banner.png);
        background-size: cover;
        min-height: 70vh;
        
        @include breakpoint (xl) {
            min-height: 70vh;
        }
    }

    #translate-div {
        max-width: 740px;
        margin: 8em 10% 2em 10%;
    }

    #contactus-container {
        display: flex;
        flex-direction: column;
        font-family: 'Open Sans';
        text-transform: uppercase;
        position: relative;
        
        
        
        #white-letters {
            font-size: 2em;
            color: whitesmoke;
            justify-self: center;
            font-weight: 600;
    
            @include breakpoint(md) {
                font-size: 2.5em
            }
    
            @include breakpoint(lg) {
                font-size: 6em;
            }
        }
    
        #yellow-letters {
            color: $yellow;
            justify-self: center;
            font-size: 1.4em;
    
            @include breakpoint(md) {
                font-size: 2em;
            }
    
            @include breakpoint(lg) {
                font-size: 3em;
            }
        }
    }
    
    .form-container {
        display: flex;
        flex-direction: column;
        background: transparent;
        font-family: 'Open Sans';
        text-transform: uppercase;
        justify-content: space-between;
        span {
            color: whitesmoke;
        }
    }

    .pair-container {
        display: flex;
        flex-wrap: wrap;
    }

    .input-container {
        display: flex;
        flex-direction: column;
        margin-top: 1em;
        margin-right: 2em;
        flex: 1;
        input {
            background: transparent;
            border-bottom: 2px solid black;
            color: whitesmoke;
            font-family: 'Open Sans';
            &:focus {
                outline: none;
            }
        }
                    
        #name-input:hover {
            border-bottom: 2px solid #05C8A1;
        }
        #email-input:hover {
            border-bottom: 2px solid #FFD45A;
        }
        #phone-input:hover {
            border-bottom: 2px solid #B45AD4;
        }
        #address-input:hover {
            border-bottom: 2px solid #1A2DF3;
        }
        #tellus-input:hover {
            border-bottom: 2px solid #FF5CEF;
        }

        #tellus-input {
        }
    } 

    
	#submit-button1 {
		display: flex;
		justify-content: flex-start;
		bottom: 5.5em;
        margin-top: 2em;
        justify-self: center;
	
		button {
			border: 2px solid White;
			color: black;
			font-family: 'Open Sans', sans-serif;
			background-color: transparent;
			font-size: 1em;
			color: white;
            width: 100%;
            max-width: 740px;
            padding: 0.5em 0;
            margin-right: 2em;
	
			@include breakpoint(md) {
				font-size: 1em;
			}
	
			@include breakpoint(lg) {
				font-size: 1.1em;
            }
            &:hover {
                background-color: whitesmoke;
                color: black;
                font-family: 'Open Sans', sans-serif;
                transition: 500ms;
                cursor: pointer;
            }
        }
    }
}
