footer {
	display: flex;
	flex-direction: column;
	align-items: center;
	background-color: black;
	height: auto;

	#footer-container {
		display: flex;
		flex-direction: column;
		padding: 1em 0em;
		max-width: 90%;
	}

	#footer-title-container {
		margin-left: 0;
		display: flex;

		span {
			color: $yellow;
			font-family: 'Open Sans', sans-serif;
			font-size: 1.5em;
			font-weight: 600;
		}
	}

	#contact-form-container {
		margin-top: 1em;
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		align-items: flex-end;
		justify-content: center;

		span {
			color: whitesmoke;
			font-family: 'Open Sans', sans-serif;
			font-size: 1em;
			padding-bottom: 0.5em;
		}
	}

	.input-container {
		padding: 0.5em 1em;
		display: flex;
		flex-direction: column;
		min-width: 250px;
		width: 90%;
		max-width: 780px;

		input {
			background-color: transparent;
			border-top-style: solid;
			border-right-style: solid;
			border-left-style: solid;
			border-bottom-style: solid;
			border-color: whitesmoke;
			border-width: 1px;
			padding: 0.5em;
			font-family: 'Open Sans', sans-serif;
			font-size: 1em;
			color: whitesmoke;
		}

		&:last-child {
			padding-top: 1.5em;
		}

		#submit {
			color: whitesmoke;
			font-family: 'Open Sans', sans-serif;
			padding: 1em 0.5em;
			background-color: rgba($color: black, $alpha: 0.6);
			border: 1px solid white;
			border-radius: 5px;
			font-weight: 600;
			cursor: pointer;
			&:hover {
				transition: 0.5s;
				background-color: whitesmoke;
				color: black;
				border: 2px solid black;
			}
		
			&:focus {
				border-color: whitesmoke;
			}
		}
	}

	#social-media-info {
		display: flex;
		flex-direction: column;
		align-items: center;
		padding-top: 1em;
	}

	#yt-icon {
		background-image: url(../../images/yt-icon.png);
		margin-left: 0.7em;
		height: 38px;
		width: 38px;
		border-radius: 50%;
		display: inline-block;
	}

	#in-icon {
		background-image: url(../../images/in-icon.png);
		margin-left: 0.7em;
		height: 38px;
		width: 38px;
		border-radius: 50%;
		display: inline-block;
	}

	#fb-icon {
		background-image: url(../../images/fb-icon.png);
		margin-left: 0.7em;
		height: 38px;
		width: 38px;
		border-radius: 50%;
		display: inline-block;
	}

	#ig-icon {
		background-image: url(../../images/ig-icon.png);
		margin-left: 0.7em;
		height: 38px;
		width: 38px;
		border-radius: 50%;
		display: inline-block;
	}

	#contact-image {
		img {
			max-width: 100%;
			margin-bottom: 2em;
		}
	}

	.d-none {
		display: none;
	}
}