/* HAMBURGER MENU BUTTON */

.menu-btn {
	position: absolute;
	top: 0.75rem;
	right: 0.75rem;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 50px;
	height: 50px;
	cursor: pointer;
	transition: all .5s ease-in-out;

	/* border: 3px solid #fff; */
	@include breakpoint(lg) {
		display: none;
	}

	z-index: 1;
}

.menu-btn__burger {
	width: 30px;
	height: 3px;
	background: #fff;
	border-radius: 3px;
	transition: all .5s ease-in-out;
}

.menu-btn__burger::before,
.menu-btn__burger::after {
	content: '';
	position: absolute;
	width: 30px;
	height: 3px;
	background: #fff;
	border-radius: 3px;
	transition: all .5s ease-in-out;
}

.menu-btn__burger::before {
	transform: translateY(-10px);
}

.menu-btn__burger::after {
	transform: translateY(10px);
}

/* ANIMATION */
.menu-btn.open .menu-btn__burger {
	transform: translateX(-50px);
	background: transparent;
	box-shadow: none;
}

.menu-btn.open .menu-btn__burger::before {
	transform: rotate(45deg) translate(35px, -35px);
}

.menu-btn.open .menu-btn__burger::after {
	transform: rotate(-45deg) translate(35px, 35px);
}

/*END OF HAMBURGER MENU BUTTON */

#navbar {
	display: flex;

	@include breakpoint(lg) {
        position: absolute;
        padding-top: 3em;
        width: 100%;
		max-width: 980px;
        left: 50%;
        transform: translateX(-50%);
        top: 0;
        z-index: 2;
	}
}

.vijo-logo {
	height: 80px;
	width: 80px;
	margin: .5rem auto;
	position: absolute;
	top: 1em;
	left: 1em;

	@include breakpoint(lg) {
		position: absolute;
		top: 1em;
		left: 2em;
	}
}

#navbar-links {
	top: 0;
	width: 100%;
	display: none;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	font-family: 'Open Sans', sans-serif;
	font-size: 1.1em;
	font-weight: 600;
	background-color: rgba($color: black, $alpha: 1);

	ul {
		padding: 0.5em 0;
	}

	ul a {
		color: white;
		text-decoration: none;
	}

	ul a:focus,
	ul a:hover {
		color: $yellow;
	}

	@include breakpoint(lg) {
		display: flex;
		flex-direction: row;
		justify-content: flex-end;
		align-items: center;
		background-color: transparent;

		ul {
			padding: 0.5em 1em;
		}

		ul a {
			color: white;
			text-decoration: none;
			font-size: 0.9em;
		}

		ul a:focus,
		ul a:hover {
			color: $yellow;
		}
	}

	#request-quote-btn {
		font-family: 'Open Sans', sans-serif;
		font-size: 0.9em;
		font-weight: 600;
		padding: 0.5em;
		color: white;
		background-color: transparent;
		border: 2px solid white;
		border-radius: 5px;
		cursor: pointer;

		&:hover {
			transition: 0.5s;
			background-color: whitesmoke;
			color: black;
			border: 2px solid black;
		}

		&:focus {
			border-color: whitesmoke;
		}
	}
}