/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

@mixin breakpoint($class) {
	@if $class==sm {
		@media (min-width: 400px) {
			@content;
		}
	}

	@else if $class==md {
		@media (min-width: 767px) {
			@content;
		}
	}

	@else if $class==lg {
		@media (min-width: 992px) {
			@content;
		}
	}

	@else if $class==xl {
		@media (min-width: 1200px) {
			@content;
		}
	}

	@else if $class==xxl {
		@media (min-width: 2560px) {
			@content;
		}
	}

	@else {
		@warn "Breakpoint mixin supports: xs, sm, md, lg";
	}
}

@import './reset/reset';
@import './components/modal';
@import './pages/about';
@import './pages/what-we-do';
@import './layout/banner.scss';
@import './layout/footer';
@import './pages/contact';
@import './layout/navbar';
@import './components/request-quote-modal';

$yellow: #F2E678;
$pink: #BC3E6D;

#body{
	background-color: black;
}


.float-btn {
	position: fixed;
	bottom: 2em;
	right: 0.5em;

	@include breakpoint(md) {
		bottom: 3em;
		right: 3em;
	}

	font-family: 'Open Sans', sans-serif;
	font-size: 0.9em;
	font-weight: 600;
	padding: 0.5em;
	color: white;
	background-color: rgba($color: black, $alpha: 0.6);
	border: 2px solid white;
	border-radius: 5px;
	cursor: pointer;
	z-index: 2;
	&:hover {
		transition: 0.5s;
		background-color: whitesmoke;
		color: black;
		border: 2px solid black;
	}

	&:focus {
		border-color: whitesmoke;
	}
}

#index-page {
	#vijo-partners-div {
		background-color: black;
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		align-items: center;

		.vijo-partners-pair-container {
			display: flex;
			flex-wrap: wrap;
			justify-content: center;
			align-items: center;

			div {
				&:last-child {
					margin-left: 1.5em;
				}
			}

			&:first-child {
				margin: 0 0.5em;
			}

			&:last-child {
				margin: 0.5em 1em 0.5em 0;
			}

			img {
				max-height: 50px;
				width: auto;
				max-width: 100%;
			}

			#uniper {
				display: flex;
				align-items: center;

				img {
					padding: 1em 0.5em 1em 1em;
					max-height: 30px;
				}
			}
		}
	}

	.vijo-partners-container {
		display: flex;
		flex-wrap: wrap;
		flex-direction: column;
		align-items: center;
		justify-content: center;
	}

	#our-services {
		display: flex;
		flex-direction: column;
		flex-wrap: wrap;
		font-family: 'Open Sans', sans-serif;
		max-width: 980px;
		margin: 0 auto;
		padding: 0em 0 2em 0;

		svg {
			height: 3em;
			width: 4em;
		}

		span {
			padding: 0.5em 0;
		}
	}

	#pink-text {
		color: $pink;
		font-weight: 700;
		letter-spacing: 0.15em;
		font-size: 3.5em;
		text-transform: uppercase;
	}

	#our-services-container {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-evenly;
	}

	.services {
		display: grid;
		grid-template-columns: 5em minmax(12em, 23em);
		grid-template-rows: auto 1fr;
		grid-template-areas: ". .""description description";
		justify-items: start;
		align-items: center;
		padding-top: 2em;
		margin: 0 0.5em;
	}

	.description {
		grid-area: description;
		font-size: 0.9em;
		letter-spacing: 0.03em;
		line-height: 1.3em;
		display: flex;
		align-items: flex-start;
	}

	.title {
		font-weight: bold;
		text-transform: capitalize;
		font-size: 1.2em;
		margin-left: 0.5em;
		justify-self: left;
	}

	#client-feedback-text-box {
		display: flex;
		flex-wrap: wrap;
		font-family: 'Open Sans', sans-serif;
		max-width: 980px;
		margin: 0 auto;
	}

	#client-feedback-title {
		display: flex;
		background-color: black;
		text-transform: uppercase;
		padding: 2em 0;

		span {
			font-family: 'Open Sans', sans-serif;
			color: whitesmoke;
			font-size: 3em;
			font-weight: bold;
			letter-spacing: 0.15em;
		}
	}

	#client-feedback {
		background-image: url(../images/toronto-banner-sm.png);
		background-size: cover;
		background-repeat: no-repeat;
		background-position: center;
		height: auto;
		font-family: 'Open Sans', sans-serif;
		display: flex;
		flex-wrap: wrap;
		justify-content: center;

		@include breakpoint(md) {
			background-image: url(../images/toronto-banner.webp);
			background-size: cover;
		}

		@include breakpoint(xl) {
			background: linear-gradient(0deg, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.1)), url(../images/toronto-banner.webp), rgba($color: #000000, $alpha: 0.9);
			background-size: cover;
			background-repeat: no-repeat;
			background-position: center;
		}

		@include breakpoint(xxl) {
			background: linear-gradient(0deg, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.1)), url(../images/toronto-banner.webp), rgba($color: #000000, $alpha: 0.9);
			background-size: cover;
			background-repeat: no-repeat;
			background-position: center;
		}

		svg {
			fill: $yellow;
		}

		h1 {
			color: $yellow;
			font-weight: bolder;
			font-size: 1.5em;
			text-align: center;
		}

		h2 {
			color: $yellow;
			font-weight: 500;
			font-size: 1.5em;
			text-align: center;
		}
	}

	#testimonial-container {
		display: flex;
		flex-direction: row;
		flex-wrap: wrap;
		justify-content: space-around;
		width: 100%;
	}

	.testimonial {
		display: flex;
		flex-wrap: wrap;
		padding: 3em;
		justify-content: center;
		min-width: 200px;
		max-width: 400px;
		text-align: center;
	}

	#quotation-mark {
		height: 2em;
		width: 3em;
		transform: rotate(180deg);
	}

	#testimonial-text {
		span {
			color: whitesmoke;
			line-height: 1.7em;
			font-size: 0.9em;
		}

		padding: 2em;
	}

	#client-photo {
		img {
			border-radius: 50%;
			filter: grayscale(100%);
		}
	}
}